.b2,
.inner {
  position: absolute;
}
.inner {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--studio-darkmode-maincta-457eff);
  width: 100px;
  height: 100px;
}
.b2 {
  top: 25.3px;
  left: 37.6px;
  line-height: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24.7px;
  height: 49.4px;
}
.div2 {
  position: relative;
  width: 100%;
  height: 100px;
  display: none;
  text-align: center;
  font-size: var(--font-size-41xl);
  color: var(--background-paper);
  font-family: var(--font-helvetica);
}
