.combined-shape-icon {
  position: absolute;
  height: 96.97%;
  width: 99.83%;
  top: 1.52%;
  right: 0.17%;
  bottom: 1.52%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.fickleflight-logo {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 174px;
  height: 33px;
  overflow: hidden;
  flex-shrink: 0;
}
.explore,
.offers,
.search {
  flex: 1;
  position: relative;
  cursor: pointer;
}
.offers,
.search {
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: var(--font-size-sm);
  font-family: var(--typography-body-1);
  color: var(--color-cornflowerblue-200);
  text-align: left;
  display: inline-block;
}
.offers {
  color: var(--color-darkslategray-300);
}
.navigation-menu {
  width: 260px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-11xl);
}
.hamburger-menu-icon {
  display: none;
}
.hamburger-menu-icon,
.notification-bell-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.unsplashd1upkifd04a-icon {
  border-radius: var(--br-19xl);
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.account-section {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.navigation-right {
  flex-shrink: 0;
  justify-content: flex-end;
  gap: var(--gap-17xl);
}
.navigation-right,
.top-container,
.top-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.top-container {
  flex: 1;
  justify-content: space-between;
}
.top-header {
  align-self: stretch;
  background-color: var(--background-paper);
  height: 77px;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-61xl);
  box-sizing: border-box;
  position: sticky;
  width: 100%;
  top: 0;
  background: #fff;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-300);
  font-family: var(--typography-body-1);
}
.results {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.recently-booked-title-child {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.recently-booked-title {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.show-more1 {
  position: relative;
  line-height: 16px;
}
.icon-back {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.show-more {
  align-self: stretch;
  border-radius: 3px;
  background-color: rgba(18, 98, 175, 0.06);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 7px var(--padding-3xs);
  gap: var(--gap-9xs);
}
.booking-cards,
.recently-booked {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.booking-cards {
  align-self: stretch;
  gap: var(--gap-xs);
  font-size: var(--font-size-xs);
  color: var(--color-cornflowerblue-200);
  font-family: var(--font-inter);
}
.recently-booked {
  border-radius: var(--br-7xs);
  background-color: var(--background-paper);
  width: 257px;
  padding: 0 0 var(--padding-xl);
  box-sizing: border-box;
  gap: 18px;
}
.results-section {
  flex: 1;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.results-page,
.results-section,
.search-results {
  display: flex;
  align-items: flex-start;
}
.search-results {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-31xl) var(--padding-61xl);
}
.results-page {
  position: relative;
  background-color: var(--background-paper);
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--typography-body-1-size);
  color: var(--color-cornflowerblue-300);
  font-family: var(--typography-body-1);
}
@media screen and (max-width: 1200px) {
  .top-container {
    flex-direction: column;
    gap: var(--gap-719xl);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .top-header {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .search-results {
    padding: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .navigation-menu {
    display: none;
  }
  .hamburger-menu-icon {
    display: flex;
  }
  .top-container {
    flex-direction: row;
    gap: var(--gap-719xl);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .top-header {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .recently-booked {
    width: 100%;
  }
  .results-section {
    flex-direction: column;
    gap: 80;
  }
  .search-results {
    padding: var(--padding-xl) var(--padding-5xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 650px) {
  .navigation-right {
    display: flex;
  }
  .top-container {
    flex-direction: column;
    gap: var(--gap-719xl);
    align-items: flex-start;
    justify-content: flex-start;
  }
}
